* {
    margin: 0;
    padding: 0
}

 #img1  {
    margin: 0 30px ;

}

.main {
    height: 12000px;
    background: url("../images/fon3_green.gif") no-repeat center top fixed;

}
#div1 {
    width: 1125px;
    /*margin: 30px auto;*/
    height: 12px;
    font: 30px Arial, Helvetica, sans-serif;
    /*border: 2px solid #ff0000;*/
    line-height: 1;
    /*padding: 20px 0 0 0;*/
    text-align: center;
    background-image: url("../images/fon2.gif");
    color: #FFF;
}
/*#div1{*/
    /*margin-top: auto;*/
    /*height: 100px;*/
    /*background-image: url("../images/fon2.gif");*/
/*}*/

.slideDown {
    margin: 0 auto ;
    position: fixed;

    animation-name: slideDown;

    animation-duration: 1s;

    animation-timing-function: ease;

    visibility: visible !important;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }
    100% {
        transform: translateY(0%);
    }
}
